nav {
  padding: 10px;
  background-color: #f2f2f2;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 24px;
}

nav a:hover {
  text-decoration: underline;
}
